{% extends "mybase.html" %} {% block mainbody %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!--overview start-->
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                        <li> {{ chapter }} </li>
                    </ol>
                </div>
            </div>


            <!--collapse start-->
            <div class="form-group col-md-2">题目:</div>
            <div class="form-group col-md-12">
                {{ q_stem }}
            </div>
            <div class="form-group col-md-2">选项:</div>
            <div class="form-group col-md-12">
                {{ choice }}
            </div>
            <div class="form-group col-md-2">答案</div>
            <div class="form-group col-md-12">
                <form action="test/receive_update" method="POST"></form>
                <input type="text" name="ans" placeholder="输入答案">
                <input type="hidden" name="node_id" value="{{ node_id }}">
                <input type="hidden" name="q_id" value="{{ id }}">
                <input type="submit" value="next">
            </div>
            <div class="form-group col-md-2">本题考察的知识点:</div>
            <div class="form-group col-md-12">
                {{ node_detail }}
            </div>
            <!--collapse end-->

        </div>

    </div>
</div>

{% endblock %}