{% extends "mybase.html" %} {% block mainbody %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.14.1/cytoscape.min.js"></script>
<div>
    <section class="panel panel-default">
        <header class="panel-heading">诊断结果显示：</header>
        <div class="panel-body">
            <div id="cy" style="width: 100%;height:500px;"></div>
        </div>
    </section>
</div>

<script type="text/javascript">
    cytoscape({
    container: document.getElementById('cy'),
    elements: {
        nodes: [
          {data: { num: '71001', titile:'有理数' ,}},

            {}
        ],



        edges: [
          {data: { id: 'ab', source: 'a', target: 'b' }}
        ]
  	},

  	layout: {
    	name: 'grid',
    	rows: 1
  	},


  	style: [
  		{
	      	selector: 'a_node',
	      	style: {
		        'background-color': '#666',
		        'label': 'data(id)'
      		}
    	},
        {
	      	selector: 'b_node',
	      	style: {
		        'background-color': '#777',
		        'label': 'data(id)'
      		}
    	},

	    {
	      selector: 'edge',
	      style: {
	        'width': 3,
	        'line-color': '#ccc',
	        'target-arrow-color': '#ccc',
	        'target-arrow-shape': 'triangle'
	      }
    	}
  	]
});

</script>


{% endblock %}